body {
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 125px;
  margin: 0 auto;
  width: 1400px;
}

.nav-section {
  width: 1150px;
}

.logo-link {
  margin-right: 545.46px;
  margin-top: 32.82px;
  display: inline-block;
}

.logo {
  display: block;
  width: 126.89px;
  height: 21.42px;
}

.nav__link {
  display: inline-block;
  margin-top: 33px;
  margin-right: 60px;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #121212;
}

.nav__link:nth-last-child(1) {
  margin-right: 0;
}

.nav__link:hover {
  opacity: 0.5;
  text-decoration: underline;
}

h3 {
  letter-spacing: -0.9px;
}

h1,
h2,
h3,
.nav__link {
  font-weight: 400;
  font-style: normal;
}

h1 {
  width: 956px;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
}

.interior {
  margin-bottom: 150px;
  position: relative;
  width: 1150px;
  height: 500px;
  background-image: url(./resources/interior.jpeg);
}

.interior_image__text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
  font-size: 20px;
  line-height: 27.32px;
  letter-spacing: -0.6px;
  color: #fff;
}

.about-us {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24.59px;
  font-style: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: #121212;
}

.desctiption {
  width: 1048px;
  font-size: 45px;
  line-height: 61.47px;
  font-style: normal;
  letter-spacing: -1.35px;
  margin-bottom: 50px;
}

.btn {
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 27.32px;
  letter-spacing: -0.6px;
  text-decoration: none;
  background-color: #ad1818;
  border-radius: 5px;
  color: #fff;
}

.project {
  margin-bottom: 90px;
}

.projects-list {
  margin-top: 170px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.project__image {
  margin-bottom: 15px;
}

.project__title {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 40.98px;
}

.project__link {
  font-style: normal;
  font-size: 20px;
  line-height: 27.32px;
  letter-spacing: -0.6px;
  text-decoration: none;
  color: #ad1818;
}

.fullWidthBtn {
  font-size: 30px;
  line-height: 40.98px;
  margin-bottom: 150px;
  padding-top: 56px;
  padding-bottom: 56px;
  display: block;
  width: 1150px;
  text-align: center;
  text-decoration: none;
  color: #ad1818;
  border-radius: 5px;
  border: 1px solid var(--accent, #ad1818);
}

.fullWidthBtn:hover {
  border-radius: 5px;
  border: 1px solid var(--accent, #ad1818);
  background: var(--accent, #ad1818);
  color: #ffffff;
  cursor: pointer;
}

.services-list {
  margin-left: 127px;
  padding-top: 151px;
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: #fff;
}

.services-background {
  margin: 0 auto;
  background-color: #121212;

  width: 1400px;
  min-width: 1400px;
}

.services {
  width: 1150px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.services:nth-last-child(1) {
  padding-bottom: 150px;
}

.services__image {
  margin-bottom: 15px;
}

.services_title {
  font-size: 30px;
  line-height: 40.98px;

  color: #fff;
}

.fullScreenImageSection {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  height: 717px;
  background-image: url(./resources/bedroom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.fullScreenImage-container {
  position: absolute;
  bottom: 60px;
  left: 125px;
}

.fullScreenImage-container__text {
  font-size: 30px;
  line-height: 40.98px;
  width: 443px;
  letter-spacing: -0.9px;
  color: #fff;
}

.contacts-wrapper {
  margin-bottom: 150px;
  margin-top: 186px;
  width: 473px;
}

.contacts__title {
  position: relative;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.contacts__title::before {
  margin-bottom: 12px;
  position: absolute;
  bottom: 25px;
  left: -6px;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(./resources/phone-icone.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__phone-number,
.contacts__mail {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
  color: #121212;
  text-decoration: none;
}

.contacts__mail {
  display: block;
}

.contacts__phone-number {
  display: block;
  margin-bottom: 30px;
}

.contacts__phone-number:hover,
.contacts__mail:hover {
  opacity: 0.5;
  text-decoration: underline;
}
